.navbar {
  font-family: 'Poppins', sans-serif;
}

.hero-section {
  font-family: 'Raleway', sans-serif;
  text-align: left;
  background-image: url('../img/Fotografia_1.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-shadow: 0.125em 0.25em 0.125em #707070;
  padding: 15rem 15rem;
}

.trico-2 {
  font-family: 'Poppins', sans-serif;
}

.carousel-indicators {
  bottom: -60px;
}

.carousel-indicators li {
  border-radius: 50%; 
  width: 0.8em;
  height: 0.8em;
  background-color: #000000;
}